API_PORT=3001
API_HOST=0.0.0.0
API_CORS_ORIGIN=http://localhost:3000
API_JWT_SECRET=change-this-secret
API_COOKIE_NAME=flowcontrol_token

SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=FlowControl
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=yourStrong(!)Password
SQLSERVER_ENCRYPT=false
SQLSERVER_TRUST_SERVER_CERTIFICATE=true

N8N_DEFAULT_TIMEOUT_MS=20000
